{% extends "layout.html" %}
{% from "macro/util.html" import render_errors %}
{% from "macro/util.html" import show_messages %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h1 class="account-header">Change password</h1>
    <form action="/change_password" method="post" class="account-form">
        {{ show_messages("info-message") }}

        {{ form.csrf_token }}

        {{ render_errors(form.old_password) }}
        <div class="input-wrapper">
            {{ form.old_password(placeholder="Old password") }}
        </div>

        {{ render_errors(form.password) }}
        <div class="input-wrapper">
            {{ form.password(placeholder="New password") }}
        </div>

        {{ render_errors(form.password_again) }}
        <div class="input-wrapper">
            {{ form.password_again(placeholder="Confirm new password") }}
        </div>

        {{ form.submit }}
    </form>
{% endblock %}